# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
weathercsv= "../WeatherPy/weather.csv"
data = pd.read_csv(weathercsv)
data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,tevaitoa,57,PF,1585194549,65,-16.78,-151.50,302.29,2.70
1,1,lagoa,98,PT,1585194550,59,39.05,-27.98,285.56,5.99
2,2,malanje,98,AO,1585194550,71,-9.54,16.34,291.02,2.35
3,3,faanui,26,PF,1585194550,67,-16.48,-151.75,301.71,3.08
4,4,marsh harbour,0,GB,1585194550,81,53.65,-1.81,276.48,0.84

In [9]:
data = data.drop(columns=["Unnamed: 0"])
data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,tevaitoa,57,PF,1585194549,65,-16.78,-151.50,302.29,2.70
1,lagoa,98,PT,1585194550,59,39.05,-27.98,285.56,5.99
2,malanje,98,AO,1585194550,71,-9.54,16.34,291.02,2.35
3,faanui,26,PF,1585194550,67,-16.48,-151.75,301.71,3.08
4,marsh harbour,0,GB,1585194550,81,53.65,-1.81,276.48,0.84
...,...,...,...,...,...,...,...,...,...
536,olivenca,100,BR,1585194700,85,-9.52,-37.19,297.12,2.07
537,neryungri,100,RU,1585194701,85,56.67,124.65,261.90,5.13
538,norwich,38,GB,1585194701,93,52.63,1.30,276.15,2.10
539,salaga,98,GH,1585194701,67,8.55,-0.52,299.97,2.29
540,isilkul,100,RU,1585194701,91,54.91,71.27,264.37,6.40

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map